<div fxLayout="column" fxLayoutAlign="center center" class="login-register">
  <form role="form" [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="x-form">
    <div class="mb-10">
      <app-identidade> </app-identidade>
    </div>
    <mat-card-content>
      <div>
        <mat-form-field>
          <mat-label>Email ou Login</mat-label>
          <input matInput placeholder="Nome de usuário" formControlName="username">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput placeholder="Nome de usuário" formControlName="password" [type]="hide ? 'text': 'password'">
          <mat-icon matSuffix (click)="hide = !hide"> {{hide ? 'visibility' : 'visibility_off'}} </mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-checkbox [(ngModel)]="checked" color="primary">
          Lembrar minha senha
        </mat-checkbox>
      </div>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <button mat-button color="primary" class="btn-block" (click)="goToRegister()">
            Criar Conta
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" class="btn-block">Acessar</button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </form>
</div>